.notebook {
  border: none;
  padding: none;
  display: block;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  height: 100%;

  .slate {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    .editable {
      padding: 10px 10px;
      border: none;
    }

    .active-line {
      background-color: $editArea-activeLine-bcc;
    }
  }
}
