.notebook {
  border: none;
  padding: none;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  height: 100%;

  .slate {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    &[data-theme='dark'] {
      background-color: $editable-bcc-dark;
    }
    .editable {
      padding: 10px 10px;
      border: none;
      outline: auto;
      z-index: 2;
      isolation: isolate;
    }
    .editable[data-theme='light'] {
      background-color: $editable-bcc-light;
      .active-line {
        background-color: $editArea-activeLine-bcc-light;
      }
    }
    .editable[data-theme='dark'] {
      background-color: $editable-bcc-dark;
      .active-line {
        background-color: $editArea-activeLine-bcc-dark;
      }
    }
  }
}
