.element-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
  .line-wrapper {
    left: -41px;
    user-select: none;
    pointer-events: none;
    caret-color: transparent;
    cursor: pointer;
    .line-number {
      min-width: 20px;
      width: 36px;
      line-height: 22.5px;
      padding: 0 10px 0 5px;
      text-align: right;
      font-size: 15px;
      user-select: none;
      pointer-events: none;
      color: #b0b0b0;
      caret-color: transparent;
    }
  }
  h1[data-slate-node='element'] {
    cursor: auto;
  }
  div[data-slate-node='element'],
  p[data-slate-node='element'] {
    width: 100%;
    margin: 0px;
    padding: 5px 2px;
    font-size: 15px;
    font-weight: normal;
    font-family: inherit;
    cursor: auto;
  }
  ol,
  ul {
    flex: 1;
    padding: 0;
    margin: 0;
    list-style-position: inside;
    li {
      padding: 5px 0px 5px 40px;
      width: 100%;
      font-size: 15px;
      cursor: auto;
      &::marker {
        text-align: right !important;
      }
    }
  }
  pre {
    position: relative;
    margin: 0;
    flex: 1;
    code {
      .element-container {
        height: 30px;
      }
      .language-selector {
        border-radius: 5px;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
