.note-menu-bar {
  box-sizing: border-box;
  width: 100%;
  max-width: inherit;
  height: 39px;
  position: sticky;
  z-index: 99;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  &[data-theme='light'] {
    background-color: $note-menu-bar-bcc-light;
  }
  &[data-theme='dark'] {
    background-color: $note-menu-bar-bcc-dark;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .last-synced {
    font-size: 12px;
    &[data-theme='dark'] {
      color: $note-menu-bar-last-synced-color-dark;
    }
  }
  &-button {
    width: $Scratchpad-menu-bar-button-width;
    height: $Scratchpad-menu-bar-button-height;
    border: none;
    border-collapse: collapse;
    padding: 0px 12px;
    font-size: 17px;
    &[data-theme='light'] {
      color: $note-menu-bar-button-color-light;
      background-color: $note-menu-bar-bcc-light;
    }
    &[data-theme='dark'] {
      color: $note-menu-bar-button-color-dark;
      background-color: $note-menu-bar-bcc-dark;
    }
    text-align: center;
    cursor: pointer;
    &:hover {
      &[data-theme='light'] {
        background-color: $note-menu-bar-button-hover-bcc-light;
        color: $note-menu-bar-button-hover-color-light;
      }
      &[data-theme='dark'] {
        background-color: $note-menu-bar-button-hover-bcc-dark;
        color: $note-menu-bar-button-hover-color-dark;
      }
    }
  }
}
