.ToolBar {
  border-bottom: 1px solid #ddd;
  padding: 1px 300px 10px;
  position: sticky;
  top: 10px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  .button-default {
    cursor: pointer;
    color: #cccccc;
    font-size: 17px;

    &.button-active {
      color: black;
    }
  }
}
